AddDefaultCharset "utf-8"

# On interdit l'acces au fichier .htacces 
<Files .htaccess>
    order allow,deny
    deny from allow
</Files>

# Empecher l'accès au index 
Options  All -Indexes

# Tous les fichier contenant ...
<FilesMatch "\.(html|php|js|css|txt)$">
    AddDefaultCharset UTF-8
    DefaultLanguage fr-fr
</FilesMatch>

# ----------------------
# Reecriture 
# ----------------------

# Activation du module
RewriteEngine on

# ----------------------
# Regle de reecriture 
# ----------------------

RewriteRule ^$ /view/index.php

RewriteRule ^log$ /view/log/send_message.txt


# ----------------------
# Error document 
# ----------------------

ErrorDocument 401 /view/404.php
ErrorDocument 402 /view/404.php
ErrorDocument 403 /view/403.php
ErrorDocument 404 /view/404.php
ErrorDocument 408 /view/408.php
ErrorDocument 500 /view/500.php